*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{ 
   font-family: sans-serif;
   font-size: 1rem;}
.body_no_scroll_pls{
    overflow-y: hidden;
}

.header, .footerClass{
    background: black; 
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
    padding-left: 2.5rem;
}

.headerTitle{
    color: white;
    text-transform: uppercase;
    font-size:400%;
    font-weight:400;
    padding-top: 1rem;
}

.headerButton{
    text-transform: uppercase;
    background:transparent;
    color: white;
    border: none;
    font-size:150%;
    letter-spacing: 0.125rem;
    font-weight: 300;
}

.headerButton:hover{
    cursor:pointer;
}

.mainNavigation{
    position:fixed;
    padding-top: 2.5rem;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background: black;
    display: flex;
    justify-content: center;
    visibility: hidden;
    /* extra for animation */
    opacity:0;
    transition: 0.8s all;
}

.mainNavigationList{
    list-style: none;
}

.mainNavigationListItem{
    color:white;
    font-size:100%;
    text-transform: uppercase;
    text-align: right;
    margin-bottom: 1.25rem;
}

.mainNavigationListItem > a{
    color:white;
    text-decoration: none;
}

.bigFigure{
    width:100%;
    height:110vh;
}

.bigFigure > img{
    width:100%;
    height:100%;
    object-fit:cover;
    background-position: center;
}

section{
    background: white;
}

.collections{
    width:100%;
    margin:0 auto;
    padding: 2.5rem;
}

.collectionsTitle, .infoTitle{
    font-size:350%;
    color:black;
    text-transform: uppercase;
    font-weight:400;
    margin-bottom: 2.5rem;
}

.collectionsList{
    list-style: none;
    display: flex;
    gap: 2.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.collectionsListItem{
    width: 31rem;
    height: 43rem;
    flex-shrink: 0;
}

.collectionsListItem > img{
    width:100%;
    height:100%;
    object-fit: cover;

}

.info{
    background: white;
    padding:2.5rem;
    display: flex;
    gap:2.5rem;
    flex-wrap: wrap;
}

.info p{
 color: black;
 max-width: 50ch;
}

.block{
    width:25rem;
    flex-shrink:0;
    flex-grow: 1;
}

.footerClass{
    height: 7.5rem;
    color: white;
}

.footerClass p{
    
    padding-right: 2.5rem;
}

ul{
    list-style: none;
}

.footerbuttons{
    list-style: none;
}

.footerbuttons > a{
    text-decoration: none;
    color:white
}

@media screen and (max-width: 43.75rem) {
body{
    font-size:0.9rem;
}
.headerTitle{
    font-size: 380%;
}

}

.off-screen-menu{
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 28rem;
    position: fixed;
    top: 0;
    right: -28rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}

.off-screen-menu.active{
    right: 0;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: black;
}

.ham-menu{
    height: 3rem;
    width: 3rem;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: 0.3rem;
    width: 100%;
    background-color: white;
    border-radius: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%
}

.ham-menu span:nth-child(3){
    top: 75%
}

.ham-menu.active span:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

form{
    flex-wrap: wrap;
    width: 100vw;
    min-height: 10rem;
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    font-size: 2rem;
    gap: 2rem;
}

form div{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

input{
    display: block;
    width: 40ch;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border:.2rem solid black;
}

textarea{
    height: 10ch;
    width: 40ch;
    font-size: 1.6rem;
    border: .2rem solid black;
    font-family: sans-serif;
    resize: none;
}

.submit{
    transition: .3s all;
    border-radius: .5rem;
    color: black;
}

.submit:hover{
    transition: .3s all;
    color: white;
    background-color: rgb(52, 52, 52);
}

label{
    text-decoration: underline white;
}